<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
<dict>
  <key>host</key>
  <string>https://cvicensa.us.demos.redhatmobile.com</string>
  <key>appid</key>
  <string>myapp-ip</string>
  <key>projectid</key>
  <string>my-project-id</string>
  <key>appkey</key>
  <string>my-app-key</string>
  <key>connectiontag</key>
  <string>x.y.z</string>
</dict>
</plist>